html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: verdana;
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3fr));
}

#nav-box {
    z-index: 3;
    background-color: black;
    height: 100%; 
    position: fixed;
    width: 25%;
    display: flex;
    flex-direction: column;
    transform: translateX(-97%);
    transition: transform .5s;
    text-align: right;
}

#nav-box:hover {
    transform: translateX(0%);
}

li a {
    display: inline-flex;
    color: #ffffff;
    padding: 2vh;
    text-decoration: none;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 250%;
    letter-spacing: 0.4rem;
    align-items: center;
  }
  
li a:hover {
    background-color: #2f2d2d;
    color: rgb(0, 255, 149);
    width: 70%;
    text-align: right;
    transition: color 0.7s ease;
}

  li:nth-child(2) a:hover { filter: hue-rotate(50deg); }
  li:nth-child(3) a:hover { filter: hue-rotate(80deg); }
  li:nth-child(4) a:hover { filter: hue-rotate(100deg); }
  li:nth-child(5) a:hover { filter: hue-rotate(180deg); }
  li:nth-child(6) a:hover { filter: hue-rotate(280deg); }
  li:nth-child(7) a:hover { filter: hue-rotate(325deg); }
  

section {
    margin: 1%;
    padding: 5%;
}


#home {
    margin-top: -10px;
    float: right;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.818);
    background-image: url('../assets/confetti.svg');
    background-blend-mode: screen; 
    
}

#logo:hover{
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#home h2 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 5vh;
    letter-spacing: 0.5rem;
}

#ah1 h2 { color: rgb(0, 234, 255); }
#ah2 h2 { color: rgb(0, 255, 110); } 
#ah3 h2 { color: rgb(255, 211, 35); }


#home h2:hover {
    animation: hue 5s infinite;
}
@keyframes hue {
    0% {
     filter: hue-rotate(0deg);
    }
    100% {
     filter: hue-rotate(360deg);
    }
  }


#home p {
    font-size: 3vh;
    line-height: 2rem;
}

#logo {
    padding: 5%;
    margin: 2%;
    float: left;
    text-align: center;
}

#logo p {
    margin-top: 0;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    animation: slide 60s infinite linear;
}

.slides img {
    height: 70vh; 
    flex: 0 0 auto; 
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(-25%); }
    40% { transform: translateX(-50%); }
    60% { transform: translateX(-75%); }
    80% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

#about {
    margin: 0;
    position: relative;
    color: white;
    background-image: url('../assets/banner.png');
    background-position: cover;
    font-size: 3vh;
    padding: 10%;
    text-align: center;
}

#about p {
    font-style: italic;
}

#about h2, #services h2, #members h2, #events h2 {
    font-size: 5vh;
    justify-content: center;
    text-align: center;
}

#members, #services {
    align-content: center;
    align-items: center;
    padding: 10vh;
    justify-content: center;
    margin: 5vh;
    text-align: center;
}

#members p {
    font-size: 3vh;
}


#services p {
    font-size: 6vh;
    line-height: 8rem;
    letter-spacing: 14px;
    color: rgb(110, 110, 255);
    animation: hue 5s infinite;
    font-weight: bolder;
}

#events {
    justify-content: center;
    align-items: center;
    align-content: center;
}

#submit-event, #donate{
    align-content: center;
    font-size: 6vh;
    padding: 12px;
    margin: 7px;
    color:aqua;
    background-color: rgba(0, 0, 0, 0);
    border: solid 18px black;
    padding-top: 40px;
    padding-bottom: 40px;
}

#submit-event:hover, #donate:hover{
    animation: hue 5s infinite;
    border: solid 38px black;
    font-weight: bolder;
}
@keyframes hue {
    0% {
     filter: hue-rotate(0deg);
    }
    100% {
     filter: hue-rotate(360deg);
    }
  }


#events {
    display: inline-block;
}

#events img {
    height: 80vh;
}


#contact {
    background-color: black;
    color: white;
    padding: 7%;
}

#contact h2 {
    font-size: 10vh;
}

#contact ul {
    list-style: none;
}

#contact p {
    font-weight: bolder;
    font-size: 5vh;
    list-style: none;
}

#contact button {
    font-size: 6vh;
    padding: 12px;
    margin: 7px;
    color:aqua;
    background-color: black;
}

#contact button:hover {
    animation: hue 5s infinite;
}
@keyframes hue {
    0% {
     filter: hue-rotate(0deg);
    }
    100% {
     filter: hue-rotate(360deg);
    }
  }
  

#address p:hover {
        animation: hue 5s infinite;
    }
    @keyframes hue {
        0% {
         filter: hue-rotate(0deg);
        }
        100% {
         filter: hue-rotate(360deg);
        }
      }

#address p a {
    text-decoration: none;
    color: yellow;
}

#address img {
    width:5vw;
    padding: 3vh;
}

footer {
    background-color: black;
    color:#ffffff;
    position: static;
    bottom: 0;
    height: 3vh;
    text-align: center;
    padding: 2%;
}

footer a {
    color:aqua;
}

footer a:hover {
animation: hue 5s infinite;
}
@keyframes hue {
    0% {
     filter: hue-rotate(0deg);
    }
    100% {
     filter: hue-rotate(360deg);
    }
  }

#form {
    background-color: black;
    margin: 20vh;
    padding: 5vh;
    font-size: 4vh;
    color: white;
}

#buttons {
    font-size: 6vh;
    padding: 12px;
    margin: 7px;
    color:aqua;
    background-color: black;
}

#buttons:hover {
    animation: hue 5s infinite;
}

#form h2 {
    color: rgb(204, 255, 122);
}
#form h2:hover {
    animation: hue 5s infinite;
}

#form input {
    font-size: 4vh;
}


